.aboutUs{  
  &__section{
    align-items: center;
  }
  &__content{
    &--images{
      display: flex;
      justify-content: space-between;
      padding:0px 10px 180px 10px;
      margin-top: 50px;
      img{
        width: 100%;
      }
    }
    &--texts{
      text-align: center;
    }
    &--image2{
      transform: translateY(50%);
    }
    &--text2{
      margin-top: 20px;
    }
    &--button{
      margin-top: 30px;
      a{
        display: inline-block;
      }      
    }
    &--text1{
      h2{
        width: 100%;
      }
    }
  }
  @media screen and (max-width: $Small){
    &__content{
      &--images{
        padding:0px 10px;
      }
      &--image2{
        transform: translateY(0);
        margin-top: 20px;
      }
      &--images{
        margin-top: 0px;
      }
    }
  }
  @media screen and (min-width: $Medium){
    &__content{
      &--texts{
        text-align: left;
      }
    }
  }
  @media screen and (min-width: $Large){
    &__content{
      &--text1{
        h2{
          width: 70%;
        }
      }
      &--images{
        margin-top: 0px;
      }
    }
  }
  @media screen and (min-width: $X-Large){
    &__content{
      &--images{
        padding: 0px 30px 200px 30px;
        margin-top: 0px;
      }
      &--text {
        max-width: 60%;
      }
    }
  }  
}
