.banner{
    width: 100vw;
    height: 100vh;
    img{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .banner-dark{
        width: 100vw;
        height: 100vh;
        background-color: $gray3-opacity33;
        position: absolute;
        top: 0;
        right: 0;
        .fixed-position-banner{
            position: absolute;
            left: 10%;
            top: 45%;
        }
    }
}