form {
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray1;
    font-size: 20px !important;
    background-color: $primary-light-color;
    border-radius: 12px;
    color: $black;
    padding: 10px;
  }
}
