.table-chars {
  width: 80%;
  margin: 0 auto;
  th {
    text-align: center;
    padding: 15px 0;
  }
  td {
    padding: 15px;
    cursor: pointer;
    margin: 0 auto;
  }
  .table-container {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    tr {
      cursor: pointer;
      td {
        width: 100%;
      }
    }
  }
}

.button-container {
  text-align: center;
  button {
    border: 1px solid green;
    margin: 15px auto;
    padding: 18px;
  }
}
