.footer-cont{
    background-color: $base-color;
    border-top: 2px solid $semantic-text-color;
    
   
    a{
        &:hover{
            text-decoration: underline;
        }
        i{
            color: $semantic-text-color;
        }
    }
}