nav.mynavbar{
  .navbar-brand{
    vertical-align: middle;
    img {
      width: 100%;
    }
  }
  a.nav-link{
    color: $white;
    &.nav_user{
      text-align: center;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  a{
    &:hover {
      text-decoration: underline;
    }
  }
  ul.ml-auto.myLogin.navbar-nav {
      justify-content: flex-end;
  }
  > div{
    width: 90%;
    max-width: $max-large;
  }
  .myLogin{
    width: fit-content;
    margin-left: 0px;
  }
  .navbar-brand{
    margin-right: 0;
  }
}
.navbar__fixed{
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: $base-color;
  border-bottom: 1px solid $yellow1;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  button.navbar-toggler{
    &:focus{
      box-shadow: 0 0 3px 1px #f9ef90;
    }
    background-color: $yellow2;
  }
  .collapse.navbar-collapse{
    justify-content: space-between;
      ul.ml-auto.mynavbarItems.navbar-nav {
        margin: auto;
    }
  }
}
.navbar__collapse{
  .navbar-brand{
    img {
      min-width: 140px;
    }
  }
  .navbar-toggler{
    border: 1px solid $white;
    .navbar-toggler-icon{
      filter: invert(100%);
    }
  }
  .collapse.navbar-collapse {
    justify-content: flex-end;
  }
  ul.ml-auto.mynavbarItems.navbar-nav {
    width: 100%;
    justify-content: flex-end;
  }
  .collapse.show.navbar-collapse{
    background-color: $white-opacity-low;
    ul.mynavbarItems, ul.myLogin{
      li.nav-item{
        padding-left: 20px;
        border-bottom: 1px solid $white;
      }
    }
    ul.myLogin{
      width: 100%;
      li.nav-item{
        padding: 8px 0 8px 20px;
      }
    }
  }
}
.reserved__space{
  background-color: $base-color;
  width: 100%;
  height: 124px;
  margin-bottom: 50px;
  max-height: 124px;
}

@media screen and (min-width: $Medium){
  .navbar__collapse{
    .collapse.navbar-collapse{
      align-items: center;
      margin-left: 15px;
    }
    .collapse.show.navbar-collapse{
      ul.myLogin{
        width: fit-content;
      }
    }
  }
  .reserved__space{
    height: calc(100vw / 11);
  }
    
}
@media screen and (min-width: $Large){
  .navbar__collapse{
    ul.ml-auto.mynavbarItems.navbar-nav {
      width: 80%;
      justify-content: space-between;
    }
  }
  .navbar__fixed{
    .collapse.navbar-collapse ul.ml-auto.mynavbarItems.navbar-nav {
      width: 70%;
      justify-content: space-between;
    }
  }
  nav.mynavbar{
    .myLogin{
      margin-left: 25px;
    }
  }  
  .reserved__space{
    height: calc(100vw / 10);
  }
}
@media screen and (min-width: $X-Large){
  .navbar__collapse{
    ul.ml-auto.mynavbarItems.navbar-nav {
      width: 70%;
    }
  }
  .navbar__fixed{
    .collapse.navbar-collapse ul.ml-auto.mynavbarItems.navbar-nav {
      width: 60%;
    }
  }
}
@media (min-width: $Medium) and (max-width: $X-Large){
  .navbar__collapse{
    .nav_user{
      &_name{
        display: none;
      }
    }
  }
}
@media screen and (min-width: $XX-Large){
  .navbar__collapse{
    ul.ml-auto.mynavbarItems.navbar-nav {
      width: 60%;
    }
  }
  .navbar__fixed{
    .collapse.navbar-collapse ul.ml-auto.mynavbarItems.navbar-nav {
      width: 50%;
    }
  }
  nav.mynavbar{
    .myLogin{
      margin-left: 35px;
    }
  }  
}

