.our-allys-cont{
    width: 100%;
    background-color: $base-color;
    padding: 45px;
    height: 650px;
    margin-top: 30px;

    .logo-cont{
        margin: 40px;
        img{
            width: 278px;
        }
    }

    .middle{
        margin-top: 240px;
    }
}