.our-allys-cont{
    background-color: $base-color;
    padding: 45px;
    height: 650px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;

    .ally-container{
        margin: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 250px;
            height: 250px;
        }
    }

}