.our-allys-cont{
    background-color: $base-color;
    padding: 45px;
    min-height: 650px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;

    h1{
        color: $white;
    }
    

    .ally-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px;
        img{
            width: 400px;
            min-height: 155px;
            height: auto;
        }
    }
@media (max-width: $Medium) {
    .our-allys-cont{
        flex-direction: column;
        height: auto;
    }

    .allys-ally-cont{
        flex-direction: column;
    }
}
}