.info-profile{
    padding: 30px 0;
    .name-field{
        margin-left: 110px;
    }
    .info-field{
        margin-top: 65px;
        border-bottom: 3px solid $yellow1;
    }
}


@media (max-width: $Medium) {
    .info-field, .name-field{
        margin: 2rem 0 !important;
    }
}