.form{
    display: flex;
    justify-content: space-between;
    font-family: $paragraph-font;
    flex-wrap: wrap;
    &_side, .col{
        width: 100% !important;
        flex: none;
    }
    &_info{
        order: 1;
        background-color: $base-color;
        color: $white;
        position: relative;
        min-height: 350px;
        margin-bottom: 50px;
        &_list{
            display: flex;
            justify-content: flex-start;
            height: 100%;
            align-items: stretch;
            padding: 20px 15px;
            &_item{
                display: flex;
                align-items: center;
                flex: 1;
                background: none;
                border: none;
                border-radius: 0;
                color: $white;
                font-size: 20px;
                .bi{
                    display: inline-block;
                    margin-right: 20px;
                }
            }
        }
        &::after{
            content: '';
            width: 20px;
            height: 100%;
            background: $semantic-gradient;
            position: absolute;
            top: 0;
            right: 70px;
        }
        
    }
    &_content{
        order: 2;
    }
    &_group{
        &_input{
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $gray1;
            padding: 15px 0;
            font-size: 20px !important;
        }
        textarea{
            min-height: 100px;
        }
    }
    .form-control:focus {
        border-color: #16263B;
        outline: 0;
        box-shadow: 0px 2px 0px 0px #16263B;
    }
    @media screen and (min-width: $Medium){
        &_side, .col{
            width: 45% !important;
            flex: none;
        }
        &_info{
            order: 2;
            margin-bottom: inherit;
        }
        &_content{
            order: 1;
        }
    }
    @media (min-width: $Medium) and (max-width: $Large){
        &_info{
            &::after{
                right: 0px;
            }
            
        }
    }
}