// NAV TEXTS

.nav-fixed-text{
    @include texts($semantic-weight, $bg-color, $paragraph-size-20);
}

.nav-scrolled-text{
    @include texts($semantic-weight, $semantic-text-color, $paragraph-size-20);
}


// BANNER TEXTS

.banner-tittle{
    @include texts($tittle-weight , $bg-color, $tittle-size);
    text-align: center;
}

.banner-text{
    @include texts($paragraph-weight,  $bg-color, $paragraph-size-20);
    text-align: center;
}

//Tiles


// FORM TEXTS

.form-title-login{
    @include texts($tittle-weight, $semantic-text-color, $tittle-size);
    margin: 70px 0 48px 0 ;
}

.form-title-sign{
    @include texts($tittle-weight, $semantic-text-color, $tittle-size);
    margin: 40px 0 ;
}

.form-paragraph{
    @include texts($semantic-weight, $white, $semantic-size)
}