//TEXTS
.mini-text{
  @include texts($semantic-weight, $black, $paragraph-size-20);
}
.strong-text{
  @include texts($paragraph-weight, $black, $paragraph-size);
}

// NAV TEXTS

.nav-fixed-text {
  @include texts($semantic-weight, $bg-color, $paragraph-size-20);
}

.nav-scrolled-text {
  @include texts($semantic-weight, $semantic-text-color, $paragraph-size-20);
}

// BANNER TEXTS

.banner-tittle {
  @include texts($tittle-weight, $bg-color, $tittle-size);
  text-align: center;
}

.banner-text {
  @include texts($paragraph-weight, $bg-color, $paragraph-size-20);
  text-align: center;
}

//Tiles
.section-title {
  @include texts($section-heading-weight, $black, $tittle-size);
}
.section-subtitle {
  @include texts($subheading-weight, $black, $subheading-size-30);
  font-family: $paragraph-font;
}
.section-detalle {
  @include texts($subheading-weight, $black, $paragraph-size);
  font-family: $paragraph-font;
}


// FORM TEXTS

.form-title-login {
  @include texts($tittle-weight, $semantic-text-color, $tittle-size);
  margin: 70px 0 48px 0;
}

.form-title-sign {
  @include texts($tittle-weight, $semantic-text-color, $tittle-size);
  margin: 40px 0;
}

.form-paragraph {
  @include texts($semantic-weight, $white, $semantic-size);
}

.error-message {
  @include texts($semantic-weight, $semantic-text-color, $semantic-size);
}


// SECTIONS TEXTS

.about-us-text{
    @include texts($semantic-weight, $black, $paragraph-size);
}

.assesor-card-text{
    @include texts($semantic-weight, $white, $button-text-sm);
}

.assesor-card-title{
    @include texts($subheading-weight, $white, $paragraph-size-20);
    font-family: $paragraph-font;
}

.map-text{
  @include texts($semantic-weight, $black, $semantic-size);
  text-align: justify;
}

.map-subheading{
  @include texts($subheading-weight, $black, $subheading-size);
}

.footer-title{
  @include texts($section-heading-weight, $semantic-text-color, $paragraph-size-20);
  font-family: $paragraph-font;
}

.footer-copy-text{
  @include texts($semantic-weight, $white, $semantic-small-size);
}

.footer-link{
  @include texts ($semantic-weight, $gray1, $paragraph-size-20);
}

.footer-sell{
  @include texts($semantic-gradient, $white, $paragraph-size)
}

// SIDEBAR 

.sidebar-sm-text{
  @include texts ($semantic-weight, $white, $button-text-sm);
  &:hover{
    text-decoration: underline;
  }
}

//PROFILE 

.sm-profile-info{
  @include texts($semantic-weight, $black, $button-text-sm)
}

.paragraph-info{
  @include texts($paragraph-weight, $black, $paragraph-size-20)
}

//SERVICES 

.services-title{
  @include texts($tittle-weight, $bg-color, $tittle-size);
}


.services-text-img{
  @include texts($paragraph-weight, $bg-color, $paragraph-size)
}

.services-text{
  @include texts($paragraph-weight, $black, $paragraph-size-20);
  text-align: justify;
}

.bpo-text{
  @include texts($paragraph-weight, $black, $paragraph-size)
}

.service-field-text{
  @include texts( $paragraph-weight, $bg-color, $paragraph-size-20);
}
//SPACES

.spaces-subheading{
  @include texts($subheading-weight, $black, $paragraph-size)
}

.spaces-card-text{
  @include texts($semantic-weight, $primary-light-color, $paragraph-size)
}

// ABOUT US

.countup{
  @include texts ($tittle-weight, $secondary-light-color, $huge-size)
}


//BLOG 

.blog-card-title{
  @include texts ($subheading-weight, $black, $paragraph-size-20)
}

.blog-card-subtitle{
  @include texts ($semantic-weight, $black, $semantic-size)
}

.blog-author-text{
  @include texts ($semantic-weight, $black, $semantic-size)
}

.blog-subtitle-text{
  @include texts ($subheading-size, $black, $subheading-size)
}

.blog-content-text{
  @include texts ($semantic-weight, $black, $paragraph-size)
}