@import url('https://fonts.cdnfonts.com/css/sf-ui-display');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

$line-height: 1.3;

//Fonts
$title-font: 'Montserrat';
$paragraph-font: 'SF UI Display';

$tittle-weight: 900;
$tittle-size: 36px;

$section-heading-weight: 700;
$section-heading-size: 32px;
$section-heading-subtittle-size: 26px;

$subheading-weight: 400;
$subheading-size-30: 30px;
$subheading-size: 28px;

$paragraph-weight: 500;
$paragraph-size: 24px;
$paragraph-size-20: 20px;

$semantic-weight: 300;
$semantic-size: 16px;
$semantic-small-size: 10px;

$button-text-xl: 24px;
$button-text-l: 16px;
$button-text-sm: 14px;
$button-text-xsm: 12px;


// colors

/*---- base colors ----*/
$black: #000;
$white: #fff;
$white-opacity-low: rgba(255, 255, 255, 0.33);

$yellow1: #f9ef90;
$yellow2: #cda434;
$yellow2-rgba-opacity-low: rgba(205, 164, 52, 0.1);
$yellow3: #aea764;
$yellow4: #886d24;
$yellow4-light: #886d244d;

$gray1: #cacaca;
$gray2: #f3f6fc;
$gray3: #1f1f1f;
$gray4: rgba(84, 84, 84, 0.6);

$gray3-opacity33: rgba(31, 31, 31, 0.33);


$base-color: #1B2F48;
$secondary-color: #1b2f48;
$semantic-text-color: #e0c028;
$primary-light-color: #E2EBF7;


/*---- composite colors ----*/
$bg-color: $white;
$paragraph-color: $black;

/*---- semantic colors ----*/
$semantic-gradient: linear-gradient(114deg, $yellow1 0%, $yellow2 32%, $yellow1 68%, $yellow2 100%);
$secondary-gradient: linear-gradient(114deg, $yellow3 0%, $yellow4 32%, $yellow3 68%, $yellow4 100%);
$dark-gradient: linear-gradient(0deg, $black 0%, $gray4 100%);

// linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(84, 84, 84, 0.6) 100%)