.login-view {
  .login-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    position: absolute;
  }

}

.form-container {
  position: relative;
  border-radius: 20px;
  background-color: $secondary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0 50px 0;
}

.my-form {
  max-width: 400px;
  margin: 0 auto;

  .name-container {
    display: flex;
    justify-content: space-between;
    .form-group {
      flex: 1;
      margin-right: 10px;
    }
    .second-name {
      margin: 0 0 0 10px;
    }
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
    }

    .form-input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $gray1;
      font-size: 20px !important;
      background-color: $primary-light-color;
      border-radius: 12px;
      color: $black;
      padding: 10px;
    }
  }

  .button-login {
    width: 100%;
  }

  .form-paragraph {
    margin-top: 10px;
  }

  .login-link {
    color: $semantic-text-color;
    margin-left: 5px;
    font-size: 18px;
  }
}
