.login-view {
  .logo-container {
    margin: 0 auto;
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    img {
      width: 100%;
    }
  }
  @media (min-width: $Medium) {
    .logo-container {
      justify-content: start;
      align-items: start;
      margin: 0;
    }
  }
  .login-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.form-container {
  position: relative;
  border-radius: 20px;
  background-color: $secondary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px  50px ;
}

.my-form {
  .form-group {
    margin: 20px auto ;
    width: 100%;
    label {
      display: block;
      margin-bottom: 8px;
    }

    .form-input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $gray1;
      font-size: 20px !important;
      background-color: $primary-light-color;
      border-radius: 12px;
      color: $black;
      padding: 10px;
    }

    @media (max-width: $Small) {
      .form-input {
        max-width: 300px;
      }
    }
  }

  .button-login {
    width: 100%;
  }

  .form-paragraph {
    margin-top: 10px;
  }

  .login-link {
    color: $semantic-text-color;
    margin-left: 5px;
    font-size: 18px;
  }
}
