 $black: #000;
 $white: #fff;
 $base-color: #16263B;
 $secondary-color: #1b2f48;
 $base-light-color: #f3f6fc;
 $bg-color: $white;
 $dark-complementary-color: #1f1f1f;
 $disable-color: #cacaca;
 $paragraph-color: $black;
 $semantic-text-color: #e0c028;
 $semantic-gradient: linear-gradient(114deg, rgba(249,239,144,1) 0%, rgba(205,164,52,1) 32%, rgba(249,239,144,1) 68%, rgba(205,164,52,1) 100%);
 $secondary-gradient: linear-gradient(114deg, rgba(174,167,100,1) 0%, rgba(136,109,36,1) 32%, rgba(174,167,100,1) 68%, rgba(136,109,36,1) 100%);


